<nav class="pv3 ph3 ph4-ns navbar extra-navbar" role="navigation">

  <div class="logo flex-l justify-between items-center">
    <a href="{{ .Site.Home.RelPermalink }}" class="f3 fw2 hover-white no-underline white-90 dib">
      {{ with .Site.Params.site_logo }}
        <img src="{{ relURL . }}" class="w100 mw5-ns logo" alt="{{ $.Site.Title }}" />
      {{ else }}
        {{ .Site.Title }}
      {{ end }}
    </a>
  </div>

  <div class="menu-icon hover-white white-90" id="menu-icon">&#9776;</div>

  <div class="nav-links flex-l" id="nav-links">
    {{ partial "i18nlist.html" . }}
    {{ if .Site.Menus.main }}
          {{ range .Site.Menus.main }}
          <a class="menu-entry link hover-white white-90 no-underline f5 f4-ns {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }} " href="{{ .URL }}" title="{{ i18n "pageTitle" . }}">
            {{ .Name }}
          </a>
          {{ end }}
          {{ partialCached "social-follow.html" . }}
    {{ end }}
  </div>

  <script>
    const menuIcon = document.getElementById('menu-icon');
    const navLinks = document.getElementById('nav-links');

    menuIcon.addEventListener('click', () => {
      navLinks.classList.toggle('active');
    });
  </script>

</nav>